.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height:10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 400px 1fr;
  margin-top: 16px;
}
#input-data {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  grid-column: 2/3;
  border: 2px solid #eee;
  box-shadow: 0 0 1px 1px gray;
  text-align: right;
}

#history-container{
  grid-column: 2/3;
  grid-gap: 5px;
  text-align: right;
}

#history-count {
  display: inline-block;
}

table {
  width: 100%;
  border:1px solid gray;
}

th {
  background-color: #DCDCDC;
}
tr:nth-child(even) {
  background-color: #F8F8FF;
}

label {
  grid-column: 1 / 2;
}

input, button {
  grid-column: 2 / 3;
}

